/*
#hero {
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);

}

/* Section */
.section-title {
    text-align: center;
}

.section-title > h1 {
    margin-bottom: 64px;
    font-size: 50px;
    line-height: 50px;
    position: relative;
}

.section-title > p {
    max-width: 740px;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 21px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 32px;
    position: relative;
}

.section-title > h1::after {
    content: "";
    background: url(/img/section-divider.png) no-repeat 0 0;
    height: 15px;
    width: 113px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: 0 auto;
}

.section-padding {
	padding: 100px 0 64px;
}

.dark-back {
    background: #f8f8f8
}


/* Landing */

#hero > img {
    width: 50%;
    max-width: 512px;
    margin-bottom: 32px;
}

#hero > img::after {
    content: "";
    background: url(/img/section-divider.png) no-repeat 0 0;
    height: 15px;
    width: 113px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    margin: 0 auto;
}


/* About */
#about {
    background: #f8f8f8;
}
#about-items {
    margin-top: 104px;
    text-align: center;
}
.about-item {
    padding: 0 24px;
}

/* Works */

#works {
    
}

.works-items {
    padding: 0 24px;
}


.works-item {
    /*outline: dotted;
    min-height: 317px;
    */

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: 317px;
}
#so-card-widget > div > div.so-header > h4 {
    text-transform: none;
}
#so-card-widget > div > div > .so-display-name {
    padding: 10% 0;
    height: auto;
}
#so-card-widget {
    height: 400px;
}