  <footer id="footer">
    <nav>
      <ul>
        <li>
          <a href="/#about">About</a>
        </li>
        <li>
          <a href="/#contact">Contact</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <!--li>
          <a href="/docs/">Docs</a>
        </li-->
        <li>
          <a target="_blank" href="https://twitter.com/{{.Site.Params.twitter}}">Twitter</a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/{{.Site.Params.twitter}}">GitHub</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer>