{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
    <h1>Blog</h1>
    <p>Where I write about stuff.</p>
  </div>
  <div id="components">
    <div class="row gutters">
      {{ range .Data.Pages.ByWeight }}
        <a class="col col-12 item" href="{{ .Permalink }}">
          <h4>{{ .Title }}</h4>
          <p>{{ .Params.description }}</p>
          <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
              {{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}
          </time>
        </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}